.Letter input{
    width: 50px;
    height: 67px;
    margin-right: 5px;
    border-radius: 10%;
}

input:disabled{
    opacity: 1;
    color: white;
    text-align: center;
    font-size: 30px;
}

input:focus{
    outline: none;
}

.Letter .Green{
    background-color: var(--green)
}

.Letter  .Grey{
    background-color: black;
}

.Letter .Yellow{
    background-color: var(--yellow)
}

.Letter .Black{
    background-color: var(--grey);
}