.Letter input{
    width: 50px;
    height: 67px;
    margin-right: 5px;
    border-radius: 10%;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    animation-duration: 0.01s;
}

input:disabled{
    opacity: 1;
    color: white;
    text-align: center;
    font-size: 30px;
}

input:focus{
    outline: none;
}


@keyframes green_keyboard{
    100%{
    background: var(--green);
    }
}

@keyframes grey_keyboard{
    100%{
    background-color: black;
    }
}

@keyframes yellow_keyboard{
    100%{
    background-color: var(--yellow);
    }
}

.black{
    background: var(--grey);
}
