input{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border: rgb(66, 41, 83) 5px solid;
    background-color: rgba(148, 91, 188, 0.6);
}

input:disabled{
    opacity: 1;
    color: white;
    text-align: center;
    font-size: 30px;
}

input:focus{
    outline: none;
}

.Green{
    background-color: rgba(47, 161, 43,50)
}

.Grey{
    background-color: rgba(72, 72, 65, 50);
}

.Yellow{
    background-color: rgba(228, 228, 77,25)
}