.InputSquare{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border: rgb(66, 41, 83) 5px solid;
    background-color: rgba(148, 91, 188, 0.6);
}

.InputSquare:disabled{
    opacity: 1;
    color: white;
}

.InputSquare:focus{
    outline: none;
}